home_presence.json
[
    {
        "id": "83e3b37b.639e7",
        "type": "tab",
        "label": "Home Presence",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d9a9ef90.88fbe",
        "type": "server-state-changed",
        "z": "83e3b37b.639e7",
        "name": "Mo Home",
        "server": "184c3d5d.435713",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "person.admin",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "30a793a3.c012bc"
            ],
            [
                "ba6d47d9.bf4608"
            ]
        ]
    },
    {
        "id": "ba6d47d9.bf4608",
        "type": "api-current-state",
        "z": "83e3b37b.639e7",
        "name": "Tarin Home",
        "server": "184c3d5d.435713",
        "version": 1,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "person.tarin_khandaker",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 480,
        "y": 40,
        "wires": [
            [],
            [
                "149c6cd.e1ce593"
            ]
        ]
    },
    {
        "id": "c4fe1b4e.b00778",
        "type": "api-call-service",
        "z": "83e3b37b.639e7",
        "name": "Away",
        "server": "184c3d5d.435713",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.home_occupied_indicator",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 760,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "7f3c4003.df0b9",
        "type": "api-current-state",
        "z": "83e3b37b.639e7",
        "name": "Mo Home",
        "server": "184c3d5d.435713",
        "version": 1,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "person.admin",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 380,
        "y": 160,
        "wires": [
            [],
            [
                "ba6d47d9.bf4608"
            ]
        ]
    },
    {
        "id": "d57836e.1db42c8",
        "type": "server-state-changed",
        "z": "83e3b37b.639e7",
        "name": "Tarin Home",
        "server": "184c3d5d.435713",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "person.tarin_khandaker",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "64c36b23.84fa04"
            ],
            [
                "7f3c4003.df0b9"
            ]
        ]
    },
    {
        "id": "6a6ffa30.9d90d4",
        "type": "api-call-service",
        "z": "83e3b37b.639e7",
        "name": "Home",
        "server": "184c3d5d.435713",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.home_occupied_indicator",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 370,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "149c6cd.e1ce593",
        "type": "api-current-state",
        "z": "83e3b37b.639e7",
        "name": "Guests Home",
        "server": "184c3d5d.435713",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.guest_home_indicator",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 590,
        "y": 120,
        "wires": [
            [],
            [
                "c4fe1b4e.b00778"
            ]
        ]
    },
    {
        "id": "7858a627.8505e8",
        "type": "api-call-service",
        "z": "83e3b37b.639e7",
        "name": "Notify",
        "server": "184c3d5d.435713",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "notify",
        "entityId": "",
        "data": "{\"message\":\" at {{payload}}\",\"title\":\"Presence Notification\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 810,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d8081f7d.78756",
        "type": "server-state-changed",
        "z": "83e3b37b.639e7",
        "name": "Guests Home",
        "server": "184c3d5d.435713",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.guest_home_indicator",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 150,
        "y": 700,
        "wires": [
            [
                "6a6ffa30.9d90d4"
            ],
            [
                "b61cb393.2dcf4"
            ]
        ]
    },
    {
        "id": "ebbf625a.b395e",
        "type": "server-state-changed",
        "z": "83e3b37b.639e7",
        "name": "Tarin Home",
        "server": "184c3d5d.435713",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "person.tarin_khandaker",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 150,
        "y": 640,
        "wires": [
            [
                "6a6ffa30.9d90d4"
            ],
            [
                "8a0fafa1.a386f"
            ]
        ]
    },
    {
        "id": "95d0ed4d.39422",
        "type": "server-state-changed",
        "z": "83e3b37b.639e7",
        "name": "Mo Home",
        "server": "184c3d5d.435713",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "person.admin",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 140,
        "y": 580,
        "wires": [
            [
                "6a6ffa30.9d90d4"
            ],
            [
                "f562d65d.65bfb8"
            ]
        ]
    },
    {
        "id": "a1410fbe.bc3e6",
        "type": "server-state-changed",
        "z": "83e3b37b.639e7",
        "name": "Guests Home",
        "server": "184c3d5d.435713",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.guest_home_indicator",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "82df6cc8.ba94a"
            ],
            [
                "7f3c4003.df0b9"
            ]
        ]
    },
    {
        "id": "eedede81.de9d2",
        "type": "function",
        "z": "83e3b37b.639e7",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\": msg.personName + \" \" + msg.timeStamp,\n    \"data\": \n    {\n\n    }\n  }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 340,
        "wires": [
            [
                "7858a627.8505e8"
            ]
        ]
    },
    {
        "id": "30a793a3.c012bc",
        "type": "change",
        "z": "83e3b37b.639e7",
        "name": "Setup Person/Time - Mo",
        "rules": [
            {
                "t": "set",
                "p": "personName",
                "pt": "msg",
                "to": "Mo is home:",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "timeStamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 260,
        "wires": [
            [
                "1a56269b.e15019"
            ]
        ]
    },
    {
        "id": "8cb952fe.8ad06",
        "type": "moment",
        "z": "83e3b37b.639e7",
        "name": "",
        "topic": "",
        "input": "timeStamp",
        "inputType": "msg",
        "inTz": "America/Toronto",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "h:mma, ddd, MMM DD",
        "locale": "en_CA",
        "output": "timeStamp",
        "outputType": "msg",
        "outTz": "America/Toronto",
        "x": 740,
        "y": 440,
        "wires": [
            [
                "eedede81.de9d2"
            ]
        ]
    },
    {
        "id": "64c36b23.84fa04",
        "type": "change",
        "z": "83e3b37b.639e7",
        "name": "Setup Person/Time - Tarin",
        "rules": [
            {
                "t": "set",
                "p": "personName",
                "pt": "msg",
                "to": "Tarin is home:",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "timeStamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "8cb952fe.8ad06"
            ]
        ]
    },
    {
        "id": "82df6cc8.ba94a",
        "type": "change",
        "z": "83e3b37b.639e7",
        "name": "Setup Person/Time - Guests",
        "rules": [
            {
                "t": "set",
                "p": "personName",
                "pt": "msg",
                "to": "Guests are home:",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "timeStamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 380,
        "wires": [
            [
                "8cb952fe.8ad06"
            ]
        ]
    },
    {
        "id": "f562d65d.65bfb8",
        "type": "change",
        "z": "83e3b37b.639e7",
        "name": "Setup Person/Time - Mo - Away",
        "rules": [
            {
                "t": "set",
                "p": "personName",
                "pt": "msg",
                "to": "Mo is away:",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "timeStamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 420,
        "wires": [
            [
                "8cb952fe.8ad06"
            ]
        ]
    },
    {
        "id": "8a0fafa1.a386f",
        "type": "change",
        "z": "83e3b37b.639e7",
        "name": "Setup Person/Time - Tarin - Away",
        "rules": [
            {
                "t": "set",
                "p": "personName",
                "pt": "msg",
                "to": "Tarin is away:",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "timeStamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 480,
        "wires": [
            [
                "8cb952fe.8ad06"
            ]
        ]
    },
    {
        "id": "b61cb393.2dcf4",
        "type": "change",
        "z": "83e3b37b.639e7",
        "name": "Setup Person/Time - Guests - Away",
        "rules": [
            {
                "t": "set",
                "p": "personName",
                "pt": "msg",
                "to": "Guests are away:",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "timeStamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 540,
        "wires": [
            [
                "8cb952fe.8ad06"
            ]
        ]
    },
    {
        "id": "1a56269b.e15019",
        "type": "delay",
        "z": "83e3b37b.639e7",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 640,
        "y": 320,
        "wires": [
            [
                "8cb952fe.8ad06"
            ]
        ]
    },
    {
        "id": "184c3d5d.435713",
        "type": "server",
        "z": "",
        "name": "Home Assistant"
    }
]